.container {
  border: 3px solid #212121;
  border-radius: 5%;
  overflow: hidden;
  width: 289px;
  margin: 15px auto;
}

.wrapper {
  background-color: #fafafa;
  padding-top: 10px;
  padding-bottom: 18px;
}

.image {
  width: 108px;
  height: 110px;
  background-color: #2a2a2a;
  border-radius: 50%;
  margin: 0 auto;
}

.name {
  font-weight: 600;
  font-size: larger;
  margin-top: 16px;
  margin-bottom: 0;
}

.tag {
  color: #808080;
  margin-top: 15px;
  margin-bottom: 0;
}

.location {
  color: #808080;
  margin-top: 10px;
  margin-bottom: 0;
}

.list {
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  background-color: #d3d3d3;
  margin: 0;
  height: 72px;
  padding: 0;
  border-top: 1px solid #868686;
}

.list li {
  display: flex;
  flex-direction: column;
  width: 97px;
  border-right: 1px solid #868686;
  padding-top: 15px;
}
